body {
	background-color:‪#‎052D6E‬;
	margin:50px 0px; 
	padding:0px;
	text-align:center;
	font-size:20px;
	border:12px solid gray;
	outline:7px solid black;
	outline-offset:-8px;
}
h1 {
	border:10px solid black;
	text-shadow:2px 3px ‪#‎2D3B8D‬;
}
ul {
	margin: 0px;
	padding: 0px;
	background-color: #0292C0;
}

.nav li{
	display: inline;;
	list-style-type: none;
	margin: 0 5px 0 5px;
	width:175px;
    height:25px;
    text-align:center;
    overflow:hidden;
}

.nav li a{
	color: #FFF;
	text-decoration: none;
}

.content {
	width:500px;
	margin: auto;
	text-align: center;
	padding:15px;
	}

#stars img {
    text-align:bottom;
    display:inline;
}